* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FCF75B, #ffffff);
}

.card{
  background-color: #ffffff;
  background-size: cover;
  width: 600px;
  height: 350px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 2px 4px 10px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: linear-gradient(to bottom, #ffffff, #78e562);
  color: #264661;
  font-size: 28px;
}

.content{
  display: grid;
  grid-template-columns: 210px 2fr 2fr;
  padding: 40px;
  color: #000000;
  gap: 20px;
  align-items: start;
}

.photo{
  width: 160px;
  height: 210px;
  background-image: url(Untitled\ image\ \(1\).png);
  background-size: 120%;
  background-position: -10px;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.about1, .about2{
  display: flex;
  flex-direction: column;
  gap: 8px;
}